# Git dosyalarını yoksay
.git
.gitignore

# Rust'ın derleme çıktılarını yoksay
# Bunlar konteyner İÇİNDE oluşturulmalı, DIŞARIDAN gönderilmemeli!
target/

# IDE/Editör özel dosyaları
.vscode/
.idea/